name: Build and deploy server on production environment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build Spring project with Gradle
        run: ./gradlew clean build -x test

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push API server Docker image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t chj7239/orv-api-server:latest --push .

      - name: Build and push Duration Calculation Worker Docker image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t chj7239/orv-duration-calculation-worker:latest --push duration-calculation-worker

      - name: Build and push Thumbnail Extraction Worker Docker image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t chj7239/orv-thumbnail-extraction-worker:latest --push thumbnail-extraction-worker

      - name: Build and push Audio Extraction Worker Docker image
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t chj7239/orv-audio-extraction-worker:latest --push audio-extraction-worker
